{% assign event = include.event %}

<p>
{% include group-by-array collection=event.authors field="bio" %}
{% for author in event.authors %}
  {% assign author = site.data.authors[author] | default: author %}
  {% assign email = author.email %}
  {% unless email %}
    {% for link in author.links %}
        {% if link.label == "Email" %}
            {% assign email = link.url %}
        {% endif %}
    {% endfor %}
  {% endunless %}
  {% assign affil_num = '' %}
  {% for affiliation in group_names %}
    {% if affiliation == author.bio %}
      {% assign affil_num = forloop.index %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% capture affiliation %}<sup id="fnref:{{ affil_num }}" role="doc-noteref"><a href="#fn:{{ affil_num }}" class="footnote" title="{{ author.bio }}">{{ affil_num }}</a></sup>{% endcapture %}
  {% if email %}
    {% assign email = email | remove: "mailto:" %}
    {% capture email_link %} <a href="mailto:{{ email }}" title='{{ email }}'><span><i class="elastic-fai fas fa-envelope"></i></span></a>{% endcapture %}
  {% else %}
    {% assign email_link = '' %}
  {% endif %}
  {% if author.orcid %}
    {% capture orcid %} <a href="https://orcid.org/{{ author.orcid }}"><span><i class="elastic-fai fab fa-orcid"></i></span></a>{% endcapture %}
  {% else %}
    {% assign orcid = '' %}
  {% endif %}
  {{ author.name }}{{ affiliation }}{{ email_link}}{{ orcid }}{% unless forloop.last %}, {% endunless %}

{% endfor %}
<div id="affiliations" class="footnotes" role="doc-endnotes">
  <ol>
    {% for affiliation in group_names %}
    <li id="fn:{{ forloop.index }}" role="doc-endnote">
      {{ affiliation }}. <a href="#fnref:{{ forloop.index }}" class="reversefootnote" role="doc-backlink">&#8617;</a>
    </li>
    {% endfor %}
  </ol>
</div>

</p>

<ul class="page__date">
  {% for time in event.time %}
  <li>
    {% include event-time.html %}
  </li>
  {% endfor %}
</ul>
