{% assign info = include.info %}

{% assign teams = site.data.committee.programme_teams %}

{% if info.type %}<span class="content-line"><b>Type:</b>
  {% if teams[info.type] %}
    <a href="{{ site.baseurl }}{{ teams[post.type].internal }}">{{ teams[info.type].name }}</a>
  {% else %}
    {{ info.type }}
  {% endif %}</span>
{% endif %}

{% if info.contributors %}<span class="content-line"><b>Contributors:</b> {{ info.contributors }}</span>{% endif %}
<span class="content-line"><b>Still looking for contributors:</b>
  {% if info.looking %}
  <span style="color: green; font-weight: bold"> Yes</span>
  {% else %}
  <span style="color: red; font-weight: bold"> No</span>
  {% endif %}
</span>

{% if info.authors %}
  <p class="card-line">
    <b>Contact:</b>
    {% for author in info.authors %}
      {% assign author = site.data.authors[author] | default: author %}
      {% assign email = author.email %}
      {% unless email %}
        {% for link in author.links %}
            {% if link.label == "Email" %}
                {% assign email = link.url %}
            {% endif %}
        {% endfor %}
      {% endunless %}
      {% if email %}
        {{ author.name }} <a href="{{ email }}" title='{{ email | remove: "mailto:" }}'><span>{{ email | remove: "mailto:" }}</span></a>{% unless forloop.last %}, {% endunless %}
      {% else %}
        {{ author.name }}{% unless forloop.last %}, {% endunless %}
      {% endif %}

    {% endfor %}

  </p>
{% else %}
  {% assign author = info.author | default: info.authors[0] | default: site.author %}
  {% assign author = site.data.authors[author] | default: author %}

  {% assign email = author.email %}
  {% unless email %}
    {% for link in author.links %}
        {% if link.label == "Email" %}
            {% assign email = link.url %}
        {% endif %}
    {% endfor %}
  {% endunless %}
  {% if email %}
    <p class="card-line">
      <b>Contact:</b> {{ author.name }}
      <a href="{{ email }}" title='{{ email | remove: "mailto:" }}'><span>{{ email | remove: "mailto:" }}</span></a>
    </p>
  {% endif %}
{% endif %}
