---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "card";
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Work+Sans:wght@400;500;700&display=swap');

body{
 font-family: 'Work Sans', "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
}
.masthead {
  background-color: rgba(151, 49, 110, 0.3);
}

.page__hero {
  &--overlay {
    background-color: black;
  }
}

.greedy-nav {
  background: #fff0;
  a {
    color: #53595e;

    &:hover {
      color: black;
    }
  }
}

a.missing:link {
  color: rgba(255, 0, 0, 1.0);
}

a.missing:visited {
  color: rgba(255, 0, 0, 1.0);
}

.page__footer-nav {
  font-size: $type-size-7;
  margin-bottom: 10px;
  a {
    padding: 1em;
  }
}

.btn{
  font-family: 'Karla', 'Helvetica', sans-serif;
  font-size: 0.85em;
}
@media only screen and (max-width: 1023px) {
  #twitter-holder {
    display: none;
  }
}

.author__avatar img {
  border-radius: 0;
  max-width: 180px;
}
