---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$link-color: #740B70;
$link-color-visited: #9B4C97;
$link-color-hover: mix(#000, $link-color, 50%);

$karla: "Karla", sans-serif;
$header-font-family: $karla;

$masthead-link-color: #37b2a3;
$masthead-link-color-hover: mix(#000, $masthead-link-color, 15%);
$masthead-link-color-visited: #63cfc2;

$btn-success-color: #1b8275;
$btn-success-color-hover: #2e9f91;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "card";
@import "fc";
@import "add-to-calendar";

li.presenter {
  list-style-type:'*  ';
}

// safari does not support strings as list-style-type, so we
// have to implement a hack here
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    li.presenter {
      list-style-type: none;
    }

    li.presenter::before {
      content: "*";
      left: 1.5em;
      position: absolute;
    }
  }
}

.masthead {
  background-color: #0c0c0c;
  border-bottom: none;
}

.page__hero {
  &--overlay {
    background-color: black;
  }
}

// Nav bar

.greedy-nav {
  background: #fff0;
}

.greedy-nav .visible-links a:before{
  background: #37b2a3;
}

.icon{
  color: #37b2a3;
}

// Side bars

.toc{
  color: #474747;
  font-family: 'Karla','Helvetica' sans-serif;
}
.toc .nav__title{
  background-color: #474747;
  font-family: 'Karla','Helvetica' sans-serif;
}

.toc .active a, .toc a:visited{
  color: #646464;
  background-color: #dadada;
}

.nav__sub-title {
  color: #474747;
}

// Hyperlinks

a.missing:link {
  color: rgba(255, 0, 0, 1.0);
}

a.missing:visited {
  color: rgba(255, 0, 0, 1.0);
}

// Pagination

.pagination--pager.disabled {
color: #787878;
}

.page__footer-nav {
  font-size: $type-size-7;
  margin-bottom: 10px;
  a {
    padding: 1em;
  }
}

nav.pagination{
  color: #787878;
}

// Buttons

.btn{
  font-family: 'Karla', 'Helvetica', sans-serif;
  font-size: 0.85em;
}

.btn--success{
  &, &:visited, &:focus{
    background-color: $btn-success-color;
  }
  &:hover{
    background-color: $btn-success-color-hover;
  }
}

.btn--danger{
  &, &:visited, &:focus{
    background-color: #e95371;
  }
  &:hover{
    background-color: #ec6a84;
  }
}

.btn--info{
  &, &:visited, &:focus{
    background-color: #d8b117;
    color: #0c0c0c;
  }
  &:hover{
    background-color: #e7bf21;
    color: #0c0c0c;
  }
}

a:focus, button:focus{
  outline: none;
}

.btn--primary{
  &, &:visited, &:focus{
    background-color: #474747;
  }
  &:hover{
    background-color: #646464;
  }
}

.btn--light-outline:hover {
    background-color: rgba(37,178,161, 0.3);
    color: #fff;
}

@media only screen and (max-width: 1023px) {
  #twitter-holder {
    display: none;
  }
}


// Author avatar
.author__avatar img {
  border-radius: 0;
  max-width: 180px;
}


// Footer

.page__footer{
  color: #ffffff;
  background-color: #0c0c0c;
}
//
.page__footer-nav{
  font-size: 0.75em;
}

.page__footer-nav a{
  color: #c381c0;
}

.page__footer-copyright a{
  color: #c381c0;
}

.page__footer .fas,
.page__footer .fab,
.page__footer .far,
.page__footer .fal {
  color: #fff;
}

.page__content a:not(#goog-wm-sb):hover img.orcid-icon {
  box-shadow: none;
}

// styling of affiliation footnotes
a.footnote {
  &:visited {
    color: inherit;
  }
  &:focus, &:hover {
    color: mix(#fff, $gray, 25%);
  }
}

html {
  scroll-behavior: smooth;
}


// back-to-top-button inspired by https://moderncss.dev/pure-css-smooth-scroll-back-to-top/
// see _includes/all-events.html for the implementation
.back-to-top-wrapper {
  position: absolute;
  top: 100vh;
  right: 0;
  bottom: 0;
  // Required for best support in browsers not supporting `sticky`
  width: 3em;
  // Disable interaction with this element
  pointer-events: none;
}

.back-to-top-link {
  // `fixed` is fallback when `sticky` not supported
  position: fixed;
  // preferred positioning, requires prefixing for most support, and not supported on Safari
  // @link https://caniuse.com/#search=position%3A%20sticky
  position: sticky;
  // reinstate clicks
  pointer-events: all;
  // achieves desired positioning within the viewport
  // relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used
  top: calc(100vh - 5rem);

  // styling
  display: inline-block;
  border: none;
  outline: none;
  &, &:visited, &:focus {
    color: #fff; /* Text color */
    background-color: #0c0c0c;
  }
  &:hover {
    color: #fff; /* Text color */
    background-color: #646464;
  }
  cursor: pointer;
  text-decoration: none;
  border-radius: 50%;
}

// add padding to events sidebar on the calendar page
.events-sidebar {
  padding-top: 2em;
}
