---
layout: single
---

{{ content }}

<div id='calendar'></div>
<br>
<p class="text-right">
    <a href="{{ site.shared_calendar }}">Add all events to your calendar</a>
</p>

<aside class="sidebar__right events-sidebar">
  {% for post in site.events %}
    {% include event-card.html hidden=true %}
  {% endfor %}
  {% assign aua_post = site.documents | where: "id", "/programme/ask-us-anything-sessions" %}
  {% assign cfc_post = site.documents | where: "id", "/faq/howto/submission-deadlines" %}
  {% assign posts = aua_post | concat: cfc_post %}
  {% for post in posts %}
    {% include faq-card.html hidden=true excerpt_length=300 %}
  {% endfor %}
</aside>

<script>

 document.addEventListener('DOMContentLoaded', function() {
   var calendarEl = document.getElementById('calendar');

   events = [
     {% include ask-us-anything.js onclick='tag' %},
     {% include cfc-deadlines.js background=true onclick='tag' %},
     {% include events.js onclick='tag' %}
   ];

   events.sort((e1, e2) => new Date(e1.start) - new Date(e2.start));

   calendar = new FullCalendar.Calendar(calendarEl, {
     headerToolbar: {
       left: 'prev,next today',
       center: 'title',
       right: 'dayGridMonth,timeGridWeek,timeGridDay,listAll'
     },
     buttonText: {
       week: 'week',
       day: 'day',
       year: 'list'
     },
     initialView: 'dayGridMonth',
     editable: false,
     //
     selectable: true,
     dateClick: function(info) {
       if (calendar.view.type != "timeGridDay") {
         calendar.changeView('timeGridDay', info.dateStr);
       }
     },
     //
     navLinks: true,
     navLinkDayClick: function(date, jsEvent) {
       if (calendar.view.type != "timeGridDay") {
         calendar.changeView('timeGridDay', date);
       }
     },
     //
     weekNumbers: true,
     navLinkWeekClick: function(weekStart, jsEvent) {
       if (calendar.view.type != "timeGridWeek") {
         calendar.changeView('timeGridWeek', weekStart);
       }
     },
     //
     slotDuration: "00:15",
     dayMaxEvents: true, // allow "more" link when too many events
     events: events,
     views: {
       listAll: {
         type: "list",
         visibleRange: {
           start: events[0].start,
           end: events[events.length-1].end
         }
       }
     },
     eventClick: function(info) {
       info.jsEvent.preventDefault(); // don't let the browser navigate
       var elem = $(info.event.url);
       if (!elem.hidden) {
         $(".card").hide();
         elem.show();
       }
     },
     eventDidMount: function(arg) {
       arg.el.setAttribute("title", arg.event.title);
     }
   });
  calendar.render();
});
</script>
