---
layout: single
---

{{ content }}

<div id='calendar'></div>

<script>

 document.addEventListener('DOMContentLoaded', function() {
   var calendarEl = document.getElementById('calendar');

   {%- assign events = '' | split: '' -%}
   {%- for post in site.events -%}
     {%- if post.time -%}
       {%- assign events = events | push: post -%}
     {%- endif -%}
   {%- endfor -%}

   calendar = new FullCalendar.Calendar(calendarEl, {
     headerToolbar: {
       left: 'prev,next today',
       center: 'title',
       right: 'dayGridMonth,listWeek,listDay'
     },
     buttonText: {
       week: 'week',
       day: 'day'
     },
     initialView: 'dayGridMonth',
     editable: true,
     selectable: true,
     events: [
        {% include coc-deadlines.js background=true %},
        {% for post in events %}
        {% include event.js %}{% if forloop.last %}{% else %},{% endif %}
        {% endfor %}
     ]
   });
  calendar.render();
});
</script>
