---
layout: archive
---

{{ content }}

{% assign collection = site[page.collection] %}
{% include group-by-array collection=collection field="tags" %}

<ul class="taxonomy__index">
  {% for tag in group_names %}
    <li>
      <a href="#{{ tag | slugify | downcase }}">
        <strong>{{ tag }}</strong> <span class="taxonomy__count">{{ group_items[forloop.index0] | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>


{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <section id="{{ tag | slugify | downcase }}" class="taxonomy__section">
    <h2>{{ tag }}</h2>
      {% include documents-subcollection.html collection=posts sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
  </section>
{% endfor %}
