---
layout: archive
---

{{ content }}

{% assign collection = site[page.collection] %}
{% include group-by-array collection=collection field="category" %}

<ul class="taxonomy__index">
  {% for category in group_names %}
    <li>
      <a href="#{{ category | slugify | downcase }}">
        <strong>{{ category }}</strong> <span class="taxonomy__count">{{ group_items[forloop.index0] | size }}</span>
      </a>
    </li>
  {% endfor %}
</ul>


{% for category in group_names %}
  {% assign category_name = site.data.committee.programme_teams[category].name | default: category %}
  {% assign posts = group_items[forloop.index0] %}
  <section id="{{ category | slugify | downcase }}" class="taxonomy__section">
    <h2>{{ category_name }}</h2>
      {% include documents-subcollection.html collection=posts sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
  </section>
{% endfor %}
